.container {
  width: 500px;
  height: 800px;
  float:left;
}
.box {
  height: 40px;
  border-radius: 20px;
}
.one-step {
  width: 100px;
  background-color: rgb(255, 69, 0);
  left: 175px;
}
.two-steps {
  width: 150px;
  background-color: rgb(255, 255, 0);
  top: 40px;
  left: 150px;
}
.three-steps {
  width: 200px;
  background-color: rgb(0, 100, 0);
  top: 80px;
  left: 125px;
}
.four-steps {
  width: 250px;
  background-color: rgb(0, 191, 255);
  top: 120px;
  left: 100px;
}
.five-steps {
  width: 300px;
  background-color: rgb(0, 0, 139);
  top: 160px;
  left: 75px;
}
.six-steps {
  width: 350px;
  background-color: rgb(255, 0, 0);
  top: 200px;
  left: 50px;
}
.seven-steps {
  width: 400px;
  background-color: rgb(222, 184, 135);
  top: 240px;
  left: 25px;
}
.eight-steps {
  width: 450px;
  background-color: rgb(260, 82, 45);
  top: 280px;
  left: 0px;
}

.drag-and-drop {
  cursor: move;
  position: absolute;
  z-index: 1000;
}
.drag {
  z-index:1010
}

.rod {
  width: 20px;
  height: 400px;
  background-color: rgba(218, 129, 13, 0.76);
  border-radius: 5px 5px 0 0;
  position: absolute;
}
.center {
  right: 900px;
}
.right {
  right: 400px;

}
.left{
  left: 250px;
}